<div class="modal">
    <div class="modal-content">
      <h3>Crear Máquina Virtual</h3>
      <form (ngSubmit)="onSubmit()" class="form-grid">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input id="name" [(ngModel)]="virtualMachine.name" name="name" required />
        </div>
  
        <div class="form-group">
          <label for="cores">CPU (Cores):</label>
          <input id="cores" [(ngModel)]="virtualMachine.cores" name="cores" required type="number" />
        </div>
  
        <div class="form-group">
          <label for="ramGb">RAM (GB):</label>
          <input id="ramGb" [(ngModel)]="virtualMachine.ramGb" name="ramGb" required type="number" />
        </div>
  
        <div class="form-group">
          <label for="diskGb">Disco (GB):</label>
          <input id="diskGb" [(ngModel)]="virtualMachine.diskGb" name="diskGb" required type="number" />
        </div>
  
        <div class="form-group">
          <label for="operatingSystem">Sistema Operativo:</label>
          <input id="operatingSystem" [(ngModel)]="virtualMachine.operatingSystem" name="operatingSystem" required />
        </div>
  
        <div class="form-buttons">
          <button type="submit">Crear</button>
          <button type="button" (click)="closeModal()">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
  